config-files/*
!config-files/bspwm/
!config-files/dunst/
!config-files/gtk-2.0/
!config-files/gtk-3.0/
!config-files/kitty/
!config-files/polybar/
!config-files/rofi/
!config-files/sxhkd/
!config-files/picom.conf

mount-subtree.sh
